In [1]:
!pip install pyECLAT

Collecting pyECLAT
  Downloading pyECLAT-1.0.2-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: pandas>=0.25.3 in c:\users\jardi\anaconda3\lib\site-packages (from pyECLAT) (1.4.2)
Requirement already satisfied: numpy>=1.17.4 in c:\users\jardi\anaconda3\lib\site-packages (from pyECLAT) (1.26.4)
Requirement already satisfied: tqdm>=4.41.1 in c:\users\jardi\anaconda3\lib\site-packages (from pyECLAT) (4.65.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jardi\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\jardi\anaconda3\lib\site-packages (from pandas>=0.25.3->pyECLAT) (2023.3.post1)
Requirement already satisfied: colorama in c:\users\jardi\anaconda3\lib\site-packages (from tqdm>=4.41.1->pyECLAT) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\jardi\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->pyECLAT) (1.16.0)
Downloading pyECLAT-1.0.2-py3-none-any.whl (6.3 kB)
Installing collected packages: pyECLAT
Successfully installed pyECLAT-1.0.2

In [3]:
import pandas as pd

In [4]:
base_mercado1 = pd.read_csv('C:/Users/Jardi/Documents/Cursos/Machine Learning/recursos do curso/Bases de dados/mercado.csv',header=None)

In [5]:
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [6]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [7]:
eclat.df_bin

   cafe  arroz  cerveja  leite  feijao  pao  manteiga
0     0      0        1      1       0    1         1
1     1      0        0      0       0    1         1
2     1      0        0      0       0    1         1
3     1      0        0      1       0    1         1
4     0      0        1      0       0    0         0
5     0      0        0      0       0    0         1
6     0      0        0      0       0    1         0
7     0      0        0      0       1    0         0
8     0      1        0      0       1    0         0
9     0      1        0      0       0    0         0

In [8]:
eclat.uniq_

[nan, 'cafe', 'arroz', 'cerveja', 'leite', 'feijao', 'pao', 'manteiga']

In [9]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 130.61it/s]

Combination 2 by 2

3it [00:00, 143.49it/s]

Combination 3 by 3

1it [00:00, 111.43it/s]

In [10]:
indices

{'cafe': [1, 2, 3],
 'pao': [0, 1, 2, 3, 6],
 'manteiga': [0, 1, 2, 3, 5],
 'cafe & pao': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'cafe & pao & manteiga': [1, 2, 3]}

In [11]:
suporte

{'cafe': 0.3,
 'pao': 0.5,
 'manteiga': 0.5,
 'cafe & pao': 0.3,
 'cafe & manteiga': 0.3,
 'pao & manteiga': 0.4,
 'cafe & pao & manteiga': 0.3}