In [1]:
import pandas as pd

In [2]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=65f08b0282e8a6f9b902a870fbfd3b75b2b88b75e412070b70029bde99a3181b
  Stored in directory: c:\users\jardi\appdata\local\pip\cache\wheels\32\2a\54\10c595515f385f3726642b10c60bf788029e8f3a1323e3913a
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
from apyori import apriori

In [7]:
base_mercado1 = pd.read_csv('C:/Users/Jardi/Documents/Cursos/Machine Learning/recursos do curso/Bases de dados/mercado.csv',header = None)

In [8]:
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [9]:
base_mercado1.shape

(10, 4)

In [83]:
transacoes = []
for i in range(len(base_mercado1)):
    transacoes.append([str(base_mercado1.values[i,j]) for j in range (base_mercado1.shape[1])])

In [75]:
transacoes = []
for i in range(len(base_mercado1)):
  #print(i)
  #print(base_mercado1.values[i, 0])
  transacoes.append([str(base_mercado1.values[i, j]) for j in range(base_mercado1.shape[1])])

In [84]:
print(transacoes)

[['leite', 'cerveja', 'pao', 'manteiga'], ['cafe', 'pao', 'manteiga', 'nan'], ['cafe', 'pao', 'manteiga', 'nan'], ['leite', 'cafe', 'pao', 'manteiga'], ['cerveja', 'nan', 'nan', 'nan'], ['manteiga', 'nan', 'nan', 'nan'], ['pao', 'nan', 'nan', 'nan'], ['feijao', 'nan', 'nan', 'nan'], ['arroz', 'feijao', 'nan', 'nan'], ['arroz', 'nan', 'nan', 'nan']]

In [85]:
type(transacoes)

list

In [ ]:
#Biblioteca apyori requer que os dados estejam em formato de lista

In [93]:
#Gerando regras
regras = apriori(transacoes,min_support=0.3, min_confidence=0.8, min_lift=2 )
resultados = list(regras)

In [94]:
resultados

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [92]:
len(resultados)

5

In [120]:
resultados[2]

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

In [119]:
#conjunto de produtos
resultados[2][0]

frozenset({'cafe', 'manteiga', 'pao'})

In [121]:
#suport
resultados[2][1]

0.3

In [122]:
#regras geradas
r = resultados[2][2]
r

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [123]:
#regra 0
r[0]

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5)

In [124]:
#se compra
r[0][0]

frozenset({'cafe'})

In [125]:
#então compra
r[0][1]

frozenset({'manteiga', 'pao'})

In [126]:
#confiança
r[0][2]

1.0

In [127]:
#lift
r[0][3]

2.5

In [146]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  #print(resultado)
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [147]:
len(A), len(B), len(suporte), len(confianca), len(lift)

(5, 5, 5, 5, 5)

In [148]:
rules_df = pd.DataFrame({'se': A, 'entao': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [149]:
rules_df

                 se            entao  suporte  confianca  lift
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

In [150]:
rules_df.sort_values(by = 'lift', ascending = False)

                 se            entao  suporte  confianca  lift
2            [cafe]  [manteiga, pao]      0.3        1.0   2.5
0            [cafe]       [manteiga]      0.3        1.0   2.0
1            [cafe]            [pao]      0.3        1.0   2.0
3  [cafe, manteiga]            [pao]      0.3        1.0   2.0
4       [cafe, pao]       [manteiga]      0.3        1.0   2.0

In [173]:
base_mercado2=pd.read_csv('C:/Users/Jardi/Documents/Cursos/Machine Learning/recursos do curso/Bases de dados/mercado2.csv',header=None)

In [174]:
base_mercado2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [211]:
from apyori import apriori

In [212]:
len(base_mercado2)

7501

In [229]:
trx = []
for i in range(len(base_mercado2)):
  trx.append([str(base_mercado2.values[i, j]) for j in range(base_mercado2.shape[1])])

In [230]:
len(trx)

7501

In [231]:
#produtos que são vendidos 4 vezes ao dia (base tem 7 dias)

In [232]:
4*7

28

In [233]:
28/7501 #quantidade total de registros na nase 7501

0.0037328356219170776

In [235]:
regras2=apriori(trx,min_support=0.003,min_confidence=0.2,min_lift=3)
resultados=list(regras2)
len(resultados)

160

In [249]:
A = []
B = []
suporte = []
confianca = []
lift = []

for resultado in resultados:
  #print(resultado)
  s = resultado[1]
  #print(s)
  result_rules = resultado[2]
  #print(result_rule)
  for result_rule in result_rules:
    #print(result_rule)
    a = list(result_rule[0])
    b = list(result_rule[1])
    c = result_rule[2]
    l = result_rule[3]
    #print(a, ' - ', b, ' - ', c, ' - ', l)
    A.append(a)
    B.append(b)
    suporte.append(s)
    confianca.append(c)
    lift.append(l)

In [250]:
rules_df = pd.DataFrame({'se': A, 'entao': B, 'suporte': suporte, 'confianca': confianca, 'lift': lift})

In [251]:
rules_df

,se,entao,suporte,confianca,lift
0,[light cream],[chicken],0.004533,0.290598,4.843951
1,[mushroom cream sauce],[escalope],0.005733,0.300699,3.790833
2,[pasta],[escalope],0.005866,0.372881,4.700812
3,[fromage blanc],[honey],0.003333,0.245098,5.164271
4,[herb & pepper],[ground beef],0.015998,0.323450,3.291994
...,...,...,...,...,...
385,"[mineral water, spaghetti, milk, nan]",[olive oil],0.003333,0.211864,3.216994
386,"[tomatoes, milk]","[mineral water, spaghetti, nan]",0.003333,0.238095,3.986501
387,"[mineral water, spaghetti, milk]","[tomatoes, nan]",0.003333,0.211864,3.097846
388,"[tomatoes, milk, nan]","[mineral water, spaghetti]",0.003333,0.238095,3.986501
389,"[mineral water, spaghetti, milk, nan]",[tomatoes],0.003333,0.211864,3.097846

In [253]:
rules_df.sort_values(by = 'lift',ascending=False)

,se,entao,suporte,confianca,lift
344,"[soup, frozen vegetables]","[mineral water, nan, milk]",0.003066,0.383333,7.987176
177,"[soup, frozen vegetables]","[mineral water, milk]",0.003066,0.383333,7.987176
349,"[nan, soup, frozen vegetables]","[mineral water, milk]",0.003066,0.383333,7.987176
173,"[olive oil, frozen vegetables]","[mineral water, milk]",0.003333,0.294118,6.128268
339,"[nan, olive oil, frozen vegetables]","[mineral water, milk]",0.003333,0.294118,6.128268
...,...,...,...,...,...
238,"[ground beef, nan, shrimp]",[spaghetti],0.005999,0.523256,3.005315
67,"[ground beef, shrimp]",[spaghetti],0.005999,0.523256,3.005315
198,"[mineral water, tomatoes, frozen vegetables]",[spaghetti],0.003066,0.522727,3.002280
368,"[mineral water, nan, tomatoes, frozen vegetables]",[spaghetti],0.003066,0.522727,3.002280
365,"[mineral water, tomatoes, frozen vegetables]","[spaghetti, nan]",0.003066,0.522727,3.002280